<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rac-N-Cap @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/content/Site.css" rel="stylesheet" />
    <link href="~/content/simple-sidebar.css" rel="stylesheet" />

    <style>
        .nav-icon {
            height: 35px;
            width: 100px;
            margin-top: 8px;
            margin-left: 20px;
            color:#A7A9AB;
            left: 75%;
        }

        .nav-right-btn {
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            margin-right: 20px;
            color: #A7A9AB;
        }

        #nav-spacer {
            vertical-align: middle;
            margin-top: 10px;
            margin-right: 20px;
        }

    </style>

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #222;">
        <div class="nav navbar-header pull-left">
            <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars fa-2x nav-icon" aria-hidden="true"></i></a>
        </div>
            
        <a href="~/Home" class="navbar-brand"><img src="~/content/images/rac-n-cap_logo_no_background.png" /></a>

        <div class="nav navbar-header pull-right">
            <a href="~/Home" class="nav-right-btn"><i id="account" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
            <span id="nav-spacer">  </span>
            <a href="~/Home" class="nav-right-btn"><i id="cart" class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
        </div>
    </nav>

        <div data-spy="affix" id="dot-nav">
            <ul>
                <li class="awesome-tooltip active" title="Home"><a href="#main-body"></a></li>
                <li class="awesome-tooltip" title="Utility"><a href="#product-info"></a></li>
                <li class="awesome-tooltip" title="Security"><a href="#security-info"></a></li>
                <li class="awesome-tooltip" title="Capacity"><a href="#capacity-info"></a></li>
                <li class="awesome-tooltip" title="Quality"><a href="#quality-info"></a></li>
            </ul>
        </div>   

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
 
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://use.fontawesome.com/23090c9fd7.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>
        $(document).ready(function () {
            $('.awesome-tooltip').tooltip({
                placement: 'left'
            });

            $(window).bind('scroll', function (e) {
                dotnavigation();
            });

            function dotnavigation() {

                var numSections = $('section').length;

                $('#dot-nav li a').removeClass('active').parent('li').removeClass('active');
                $('section').each(function (i, item) {
                    var ele = $(item), nextTop;

                    console.log(ele.next().html());

                    if (typeof ele.next().offset() != "undefined") {
                        nextTop = ele.next().offset().top;
                    }
                    else {
                        nextTop = $(document).height();
                    }

                    if (ele.offset() !== null) {
                        thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numSections);
                    }
                    else {
                        thisTop = 0;
                    }

                    var docTop = $(document).scrollTop();

                    if (docTop >= thisTop && (docTop < nextTop)) {
                        $('#dot-nav li').eq(i).addClass('active');
                    }
                });
            }

            /* get clicks working */
            $('#dot-nav li').click(function () {

                var id = $(this).find('a').attr("href"),
                  posi,
                  ele,
                  padding = 0;

                ele = $(id);
                posi = ($(ele).offset() || 0).top - padding;

                $('html, body').animate({ scrollTop: posi }, 'slow');

                return false;
            });

            /* end dot nav */
        });

    </script>

</body>
</html>
